body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #96b2a2;
}

a {
  text-decoration-line: #f8f7f4;
}

.main-navigation {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'Roboto' bold, sans-serif;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  }

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  