@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
      font-display: swap;
      font-weight: 700;
      font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
      font-display: swap;
      font-weight: 300;
      font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
      font-display: swap;
      font-weight: 500;
      font-style: normal;
}

/* Сетка */
.wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
}

.main-navigation {
  display: flex; 
}

.site-navigation {
  display: flex; 
  width: 400px;
  justify-content: space-between;
}

.user-navigation {
  display: flex; 
  justify-content: space-around;
  width: 270px;
  margin-left: 300px;
}

.catalog_navigation {
  display: flex; 
  justify-content: space-around;
  width: 224px;
  padding: 0;
  list-style: none;
}

.promotions {
  display: flex; 
  justify-content: space-around;
}

.items {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-right: 26px;
  padding-left: 26px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: center;
  position: relative;
}

/***.item:hover {
  width: 293px;
  height: 405px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  opacity: 0.2;
  border-radius: 5px;
} ***/

.item_name {
  margin: auto;
  padding-top: 17px;
}

.technology {
  display: flex;
  flex-wrap: wrap;
  width: 1147px;
  box-sizing: border-box;
}

.about_technology {
  display: flex;
  flex-direction: column;
}

.container_widgets {
  display: flex;
  justify-content: space-around;
}

.footer {
  width: 1147px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 186px;
}

.links {
  width: 304px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links li {
  width: 50%;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-items {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding-right: 26px;
  padding-left: 26px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.container_widgets {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.news {
  width: 560px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

.subscribe-form {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.pages {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 954px;
}

.map {
  width: 1147px;
  position: relative;
}

.address {
  position: absolute;
  box-sizing: border-box;
  top: 53px;
  left: 870px;
}

.subscribe {
  width: 560px;
}

.subscribe-form {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  box-sizing: border-box;
}

/* Разметка */
body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #96b2a2;
}

a {
  color: #ffffff;
  text-decoration-color: #ffffff;
  list-style: none;
}

.main-navigation {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about {
  background-image: url("../img/wafer.png");
  background-repeat: repeat;
  background-color: #ffffff;
  border-radius: 15px;
  width: 1150px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 40px;
}

.about > p {
  font-size: 24px;
  color: #323232;
  font-weight: 500;
  padding-top: 31px;
  padding-left: 22px;
  margin: auto;
  margin-bottom: 11px;
}

.technology {
  padding-left: 22px;
  margin: auto;
}

.about_technology {
  color: #323232;
  list-style: none;
}

.about_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding-left: 60px;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-right: 14px;
  width: 476px;
  margin: 0 0 0 auto;
}

.about_image {
  position: absolute;
  z-index: 1;
}

.promotion {
  background-repeat: no-repeat;
  font-weight: 700;
  width: 563px;
  margin: 0 0 0 auto;
  box-sizing: border-box;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 21px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.promotion_title { 
  font-size: 35px;
  margin: auto;
}

.promotion_text { 
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 45px;
}

.chocolate {
  background-image: url("../img/chocolate.png");
}

.raspberries { 
  background-image: url("../img/rasp.png");
}

.news {
  background-image: url("../img/news.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 40px;
}

.news > p {
  font-size: 16px;
  color: #323232;
  font-weight: 500;
  padding-top: 30px;
  padding-left: 22px;
  padding-right: 370px;
  margin: auto;
}

.last_news {
  width: 289px;
  font-size: 24px;
  font-weight: 700;
  color: #323232;
  line-height: 30px;
  text-decoration-color: #323232;
  padding-top: 10px;
  padding-right: 260px;
  padding-left: 22px;
  padding-bottom: 83px;
  margin: 0 0 0 auto;
}

.subscribe {
  background-image: url("../img/mailing.png");
  background-repeat: no-repeat; 
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0 25px 0 auto;
  margin-bottom: 40px;
}

.subscribe > p {
  font-size: 16px;
  padding-top: 22px;
  padding-left: 30px;
  padding-right: 20px;
}

.subscribe-email {
  font-weight: 300;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  width: 368px;
  height: 40px;
  margin-top: 25px;
  margin-left: 30px;
}

.address {
  color: #323232;
  font-weight: 300;
  font-size: 14px;
  background-image: url("../img/addres.png");
  background-repeat: no-repeat; 
  width: 302px;
  
}

.address_text {
  padding-left: 27px;
  padding-top: 32px;
  padding-right: 24px;
  line-height: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.address_text > p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: auto;
  margin-bottom: 15px;
}

.social {
  color: #ffffff;
  list-style: none;
}

.footer {
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
}

.links {
  text-decoration-color: #ffffff;
  list-style: none;
}

.provider {
  font-weight: 700;
}

.catalog-items a {
  font-weight: 500;
  font-size: 16px;
}

.catalog-items {
  font-size: 46px;
  font-weight: 700;
  list-style: none;
}

.catalog-items span {
  font-size: 30px;
}

.store_mode {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 700;
  align-items: flex-end;
}

.phone {
  display: flex;
  font-size: 22px;
}

.price {
  font-size: 45px;
  font-weight: 700;
  padding-right: 115px;
  padding-top: 213px;
  position: absolute;
  z-index: 1;
}

.kilo {
  font-size: 30px;
  font-weight: 700;
}

.item_name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

.button {
  display: block;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  opacity: 0.99;
  border-radius: 25px;
  margin-top: 5px;
  width: 168px;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
}

.button:hover {
  box-shadow: 0 2px 2px #ac1000;
  background-image: linear-gradient(to top, #eb846d 0%,#eb846d 80%);
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
}

.button:active {
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.button_rasp {
  width: 120px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 24px;
  margin: 0 0 0 auto;
}

.button_choco {
  width: 149px;
  font-size: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 21px;
  padding-right: 22px;
  margin: 0 0 0 auto;
}

.button_login {
  width: 100px;
}

.button_slider {
  font-size: 32px;
  width: 280px;
  border: none;
}

.button_feedback {
  width: 260px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.button_sub {
  width: 130px;
  margin-top: 25px;
  margin-right: 25px;
  border: none;
}

.hit_image {
  padding-right: 200px;
  position: absolute;
  z-index: 1;
}
